@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>AUTOPEÇAS</h1>
    <partial name="_Carousel" />
</div>

<div class="text-center mt-4">
    <a class="btn btn-primary" asp-controller="Produtos" asp-action="Index">Ver produtos</a>
</div>