@model IEnumerable<MVCAutoPecas.Models.ViewModels.CategoriaComProdutos>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>VIEW INDEX</h1>
    <partial name="_Carousel" />
</div>

<partial name="_Vitrine" model="Model" />