<div class="container">
    <div class="jumbotron">
        <h2>Esta é a área do Administrador</h2>
    </div>

    <div class="mb-3">
        <a asp-area="Admin" asp-controller="AdminProdutos" asp-action="Index" class="btn btn-primary me-2">Produtos</a>
        <a asp-area="Admin" asp-controller="AdminPedidos" asp-action="Index" class="btn btn-secondary me-2">Pedidos</a>
        <a asp-area="Admin" asp-controller="AdminCategorias" asp-action="Index" class="btn btn-info text-white">Categorias</a>
    </div>

    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Home Page</a>
</div>